@model Dziennik_Zadan.Models.ZadaniaModel
@{
    ViewData["Title"] = "Indexx";
}

<div class="text-center">
    <h1 class="display-4">Witam w Dzienniku Zadań</h1>
</div>
<div padding="left">
    <p>Dzięki tej aplikacji już nigdy nie zapomnisz o: </p>
    <ol>
        <li>Zadaniach domowych</li>
        <li>Zadaniach do wykonania w ciągu dnia</li>
        <li>Obowiązkach</li>
        <li>Tytułach fajnych piosenek/filmów</li>
        <li>Spotkaniach biznesowych/towarzyskich</li>
    </ol>
    <p>Jedyne co musisz zrobić to wcześniej zaplanować...</p>
    
    <p><a class="nav-link text-dark" style="font-size:x-large;color:blue">Rejestracja</p>
    
</div>
